name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  byte-compile:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 29.1
          - 29.4
          - snapshot
    steps:
      - uses: actions/checkout@v4

      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Install dependencies
        run: |
          emacs --batch --eval "(progn
            (require 'package)
            (add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\") t)
            (package-initialize)
            (package-refresh-contents)
            (package-install 'dash))"

      - name: Byte compile
        run: |
          emacs --batch \
            --eval "(require 'package)" \
            --eval "(add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\") t)" \
            --eval "(package-initialize)" \
            --eval "(setq byte-compile-error-on-warn t)" \
            --eval "(require 'org)" \
            --eval "(require 'org-habit)" \
            --eval "(require 'dash)" \
            -f batch-byte-compile org-window-habit.el

  package-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: 29.4

      - name: Install dependencies
        run: |
          emacs --batch --eval "(progn
            (require 'package)
            (add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\") t)
            (add-to-list 'package-archives '(\"gnu\" . \"https://elpa.gnu.org/packages/\") t)
            (package-initialize)
            (package-refresh-contents)
            (package-install 'dash)
            (package-install 'package-lint))"

      - name: Package lint
        run: |
          emacs --batch \
            --eval "(require 'package)" \
            --eval "(add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\") t)" \
            --eval "(add-to-list 'package-archives '(\"gnu\" . \"https://elpa.gnu.org/packages/\") t)" \
            --eval "(package-initialize)" \
            --eval "(require 'package-lint)" \
            --eval "(setq package-lint-main-file \"org-window-habit.el\")" \
            -f package-lint-batch-and-exit org-window-habit.el
